@model Inmobiliaria.Models.Contrato

<h2>Contrato @Model.idContrato</h2>

<p><b>Inquilino:</b> @ViewBag.NombreInquilino</p>
<p><b>Inmueble:</b> @ViewBag.DireccionInmueble</p>
<p><b>Duración:</b> @ViewBag.MesesContrato meses</p>
<p><b>Cuota mensual:</b> @ViewBag.CuotaMensual.ToString("C")</p>
<p><b>Pagos esperados hasta hoy:</b> @ViewBag.PagosEsperados</p>
<p>
    <b>Monto debido:</b>
     @ViewBag.Deuda.ToString("C")
    <span style="cursor: pointer;" title="Se aplicará un 5% de interés a cada cuota si está atrasada la misma. Formula: cuotas atrasadas * (cuota mensual + interes) en este caso sería: @ViewBag.PagosEsperados * (@ViewBag.CuotaMensual.ToString("C") + 5%) donde el 5% ya lo calculamos previamente.">❓</span>
</p>

<a asp-action="Index" class="btn btn-secondary">Volver</a>