@model Inmobiliaria.Models.Contrato

<h2>Contrato @Model.idContrato</h2>

<p><b>Inquilino:</b> @ViewBag.NombreInquilino</p>
<p><b>Inmueble:</b> @ViewBag.DireccionInmueble</p>
<p><b>Duración:</b> @ViewBag.MesesContrato meses</p>
<p><b>Cuota mensual:</b> @ViewBag.CuotaMensual.ToString("C")</p>
<p><b>Pagos esperados hasta hoy:</b> @ViewBag.PagosEsperados</p>
<p><b>Pagos realizados:</b> @ViewBag.PagosRealizados</p>
@if (ViewBag.AlDia)
{
    <p style="color:green;"><b>El contrato está al día con los pagos.</b></p>
}
else
{
    <p style="color:red;"><b>El contrato tiene pagos pendientes.</b></p>
}

<a asp-action="Index" class="btn btn-secondary">Volver</a>