@model IEnumerable<Inmobiliaria.Models.ContratoDetalle>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h1>
    Lista de Contratos

    <a asp-action="Create" class="btn btn-primary">
        <h4>+</h4>
    </a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Inquilino</th>
            <th>Inmueble</th>
            <th>Fecha Desde</th>
            <th>Fecha Hasta</th>
            <th>Cuota Mensual</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contrato in Model)
        {
            <tr>
                <td>@contrato.idContrato</td>
                <td>@contrato.nombreInquilino</td>
                <td>@contrato.descripcionInmueble - @contrato.direccionInmueble</td>
                <td>@contrato.fechaDesde.ToShortDateString()</td>
                <td>@contrato.fechaHasta.ToShortDateString()</td>
                <td>@contrato.cuotaMensual.ToString("C")</td>
                <td>
                    
                    <div class="d-flex flex-wrap gap-2">                 

                        <a asp-action="Edit" asp-route-id="@contrato.idContrato" class="btn btn-warning btn-sm" title="Editar">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@contrato.idContrato" class="btn btn-danger btn-sm" title="Eliminar">
                            <i class="bi bi-trash"></i>
                        </a>
                        <a asp-controller="Pagos" asp-action="Create" asp-route-idContrato="@contrato.idContrato" class="btn btn-success btn-sm" title="Registrar Pago">
                            <i class="bi bi-cash-coin"></i>
                        </a>
                        <a asp-controller="Pagos" asp-action="Index" asp-route-contratoId="@contrato.idContrato" class="btn btn-success btn-sm" title="Ver Pagos">
                            <i class="bi bi-receipt"></i>
                        </a>
                        <a asp-action="Detalles" asp-route-id="@contrato.idContrato" class="btn btn-info btn-sm" title="Ver detalles">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                    <td>
                
</td>

                </td>
            </tr>
        }
    </tbody>
</table>
@* <a asp-action="Create" class="btn btn-primary">Crear Nuevo Contrato</a> *@
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver al Inicio</a>