@model IEnumerable<Inmobiliaria.Models.ContratoDetalle>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h1>
    Lista de Contratos

    <a asp-action="Create" class="btn btn-primary">
        <h4>+</h4>
    </a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Inquilino</th>
            <th>Inmueble</th>
            <th>Fecha Desde</th>
            <th>Fecha Hasta</th>
            <th>Monto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contrato in Model)
        {
            <tr>
                <td>@contrato.idContrato</td>
                <td>@contrato.nombreInquilino</td>
                <td>@contrato.descripcionInmueble - @contrato.direccionInmueble</td>
                <td>@contrato.fechaDesde.ToShortDateString()</td>
                <td>@contrato.fechaHasta.ToShortDateString()</td>
                <td>@contrato.monto.ToString("C")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@contrato.idContrato" class="btn btn-warning">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@contrato.idContrato" class="btn btn-danger">Eliminar</a>
                    <a asp-controller="Pagos" asp-action="Create" asp-route-idContrato="@contrato.idContrato"
                        class="btn btn-success">
                        Registrar Pago
                    </a>
                    <a asp-action="Detalles" asp-route-id="@contrato.idContrato" class="btn btn-info">
                        Ver detalles
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* <a asp-action="Create" class="btn btn-primary">Crear Nuevo Contrato</a> *@
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver al Inicio</a>