@model IEnumerable<Inmobiliaria.Models.Inmueble>

<h2>Listado de Inmuebles</h2>
CreateNuevo Inmueble</a>
<table border="1" cellpadding="5">
    <tr>
        <th>Dirección</th>
        <th>Uso</th>
        <th>Tipo</th>
        <th>Ambientes</th>
        <th>Superficie</th>
        <th>Precio</th>
        <th>Propietario</th>
        <th>Acciones</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Direccion</td>
            <td>@i.Uso</td>
            <td>@i.Tipo</td>
            <td>@i.Ambientes</td>
            <td>@i.Superficie</td>
            <td>@i.Precio</td>
            <td>@i.Propietario?.Nombre @i.Propietario?.Apellido</td>
            <td>
                EditEditar</a> |
                DeleteEliminar</a>
            </td>
        </tr>
    }
</table>
