@model IEnumerable<Inmobiliaria.Models.Inmueble>

@* <h2>Listado de Inmuebles</h2>

    <a asp-action="Create" class="btn btn-primary">
        <h3>+</h3>    
    </a>
<br></br> *@

@{
	ViewData["Title"] = "Inmuebles";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h1>
	Inmuebles
	<div class="btn-group pull-right">
		<a class="btn btn-primary" asp-action="Create" title="Crear"><i class="fa-solid fa-plus">
            <h4>+</h4>
        </i></a>
	</div>
</h1>
<table border="4" cellpadding="5" class="table table-striped">
    <tr>
        <th>Dirección</th>
        <!-- <th>Uso</th> no tiene ese atributo el inmueble ni precio, asique te los comento-->
        <th>Tipo</th>
        <th>Ambientes</th>
        <th>Superficie</th>
        <!--  <th>Precio</th> -->
        <th>Propietario</th>
        <th>Acciones</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.direccion</td>
            <!--<td> arroba i.Uso (no me deja comentarlo sino)</td> -->
            <td>@i.tipo</td>
            <td>@i.ambientes</td>
            <td>@i.superficie</td>
            <td>@i.idPropietario</td>
            <!-- <td> arroba i.Precio </td> 
            <td> arroba i.Propietario?.Nombre arroba i.Propietario?.Apellido</td> -->
            <td>
                <a asp-action="Edit" asp-route-id="@i.idInmueble" class="btn btn-warning" class="fa-solid fa-trash-can">Editar</a> |
                <a asp-action="Delete" asp-route-id="@i.idInmueble" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    }
</table> 