@model IEnumerable<Inmobiliaria.Models.Inmueble>

<h2>Listado de Inmuebles</h2>
<p>
    <a asp-action="Create">Nuevo Inmueble</a>
</p>
<table border="1" cellpadding="5">
    <tr>
        <th>Dirección</th>
        <!-- <th>Uso</th> no tiene ese atributo el inmueble ni precio, asique te los comento-->
        <th>Tipo</th>
        <th>Ambientes</th>
        <th>Superficie</th>
        <!--  <th>Precio</th> -->
        <th>Propietario</th>
        <th>Acciones</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.direccion</td>
            <!--<td> arroba i.Uso (no me deja comentarlo sino)</td> -->
            <td>@i.tipo</td>
            <td>@i.ambientes</td>
            <td>@i.superficie</td>
            <td>@i.idPropietario</td>
            <!-- <td> arroba i.Precio </td> 
            <td> arroba i.Propietario?.Nombre arroba i.Propietario?.Apellido</td> -->
            <td>
                <a asp-action="Edit" asp-route-id="@i.idInmueble">Editar</a> |
                <a asp-action="Delete" asp-route-id="@i.idInmueble">Eliminar</a>
            </td>
        </tr>
    }
</table>
