  
 @model IEnumerable<Inmobiliaria.Models.Propietario>


     
@{
    ViewData["Title"] = "Propietarios";
}


@* <h2>Propietarios</h2>

<a asp-action="Create" class="btn btn-primary"><h3>+</h3>

    
</a>
<br></br> *@
<h1>
	Propietarios
	<div class="btn-group pull-right">
		<a class="btn btn-primary" asp-action="Create" title="Crear"><i class="fa-solid fa-plus">
            <h4>+</h4>
        </i></a>
	</div>
</h1>

<table border="4" cellpadding="0" class="table table-striped">
    <tr>
        <th>DNI</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Domicilio</th>
        <th>Acciones</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.dniPropietario</td>
            <td>@p.apellido</td>
            <td>@p.nombre</td>
            <td>@p.email</td>
            <td>@p.telefono</td>
            <td>@p.domicilioPersonal</td>
            <td>
            <a asp-action="Edit" asp-route-id="@p.idPropietario" class="btn btn-warning">Editar</a> |
            <a asp-action="Delete" asp-route-id="@p.idPropietario" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    }
</table> 
