@model IEnumerable<Inmobiliaria.Models.Inquilino>

<h2>Listado de Inquilinos</h2>
<a asp-action="Create">Nuevo Inquilino</a>
<table border="1" cellpadding="5">
    <tr>
        <th>DNI</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Domicilio</th>
        <th>Acciones</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Dni_Inquilino</td>
            <td>@p.Apellido</td>
            <td>@p.Nombre</td>
            <td>@p.Email</td>
            <td>@p.Telefono</td>
            <td>@p.Domicilio_Personal</td>
            <td>
            <a asp-action="Edit" asp-route-id="@p.Id_Inquilino">Editar</a> |
            <a asp-action="Delete" asp-route-id="@p.Id_Inquilino">Eliminar</a>
            </td>
        </tr>
    }
</table>